[Desktop Entry]
Version=1.0
Type=Application
Name=Log Out
Comment=End the THADD OS session
Exec=xfce4-session-logout
Icon=system-log-out
Terminal=false
Categories=System;
